@import '../../styles/generics';

.main-button {
    @extend .button-reset-styles;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: toRem(210);
    padding: toRem(10) toRem(30);
    border-radius: 50px;
    background: $yellow;
    transition: $regular-transition;
    cursor: pointer;
    &:hover {
        background: #102C4E;
    }
    &:hover & {
        &__title {
            color: $yellow;
        }
        &__action {
            transform: translateX(toRem(10));
            .iconify path {
                stroke: $yellow;
            }
        }
    }
    &__title {
        @extend .button-text;
        color: $dark-blue;
        transition: $regular-transition;
    }
    &__action {
        margin-left: toRem(30);
        transition: $regular-transition;
        display: flex;
        align-items: center;
        .iconify path {
            stroke: $dark-blue;
            transition: $regular-transition;
        }
    }
}