@import '../../styles/generics';

.abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > *:not(:last-child) {
        margin-right: toRem(20);
    }
    &__item {
        margin-bottom: toRem(15);
        background-color: #FFFFFF;
        padding: toRem(10) toRem(20);
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 10px;
        &-title {
            @extend .button-text;
            color: $black;
            white-space: nowrap
        }
        &-icon {
            margin-left: toRem(20);
            .iconify path {
                fill: none;
                stroke: $black;
            }
        }
    }
}