@import '../../styles/generics';

.scroller {
    position: relative;
    min-width: 155px;
    min-height: 155px;
    width: fit-content;
    &__outer,
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__outer {
        animation: rotate 15s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}