@import '../../styles/generics';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--outer-padding);
    padding-bottom: 10px;
    z-index: 10;    
    transition: $regular-transition;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%);
}

.navigation {
    &__item {
        list-style: none;
    }
    &__button {
        @extend .button-reset-styles;
        @extend .menu-item;
        color: $yellow;
    }
}