@import '../../styles/generics';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--outer-padding);
    padding-bottom: 10px;
    z-index: 10;    
    transition: $regular-transition;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%);
}

.navigation {
    &__item {
        list-style: none;
    }
    &__button {
        @extend .button-reset-styles;
        @extend .menu-item;
        color: $yellow;
    }
}

.header {
    animation-fill-mode: forwards;
    animation-name: fade-top-header;
    animation-duration: 4s;
    animation-delay: 6s;
    transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);;                    
    opacity: 0;
}

@keyframes fade-top-header {
    from {
        transform: translateY(-50px) translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}